{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Tire Testing</title>
  <link rel="stylesheet" type="text/css" href='{% static "css/style.css" %}'>
</head>

<body>
  <div class="test">
    <p>Ink Test</p>
    <form action="ink/" method="post" enctype="multipart/form-data"> {% csrf_token %}
      <input type="file" accept=".png" name="test_file"><br>
      <input type="submit" value="Upload Image"><br>
    </form>
  </div>
  <div class="test">
    <p>TWI Test</p>
    <form action="twi/" method="post" enctype="multipart/form-data"> {% csrf_token %}
      <input type="file" accept=".png" name="test_file"><br>
      <input type="submit" value="Upload Image"><br>
    </form>
  </div>
  <div class="test">
    <p>Wobbling Test</p>
    <form action="wobbling/" method="post" enctype="multipart/form-data"> {% csrf_token %}
      <input type="file" accept=".png" name="test_file"><br>
      <input type="submit" value="Upload Image"><br>
    </form>
  </div>
  <div class="test">
    <p>Seperation Test</p>
    <form action="seperations/" method="post" enctype="multipart/form-data"> {% csrf_token %}
      <input type="file" accept=".png" name="test_file"><br>
      <input type="submit" value="Upload Image"><br>
    </form>
  </div>
</body>

</html>